.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 24px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
}
.nftImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.h1 {
  margin-bottom: 0px;
}

.explain {
  font-size: 1.125rem;
}

.lightPurple {
  color: #e011a7;
}
.footer {
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  width: 100%;
}
.nftCard {
  padding: 0 24px;
}
.btnClaim {
  margin-top: 5%;
  background-color: #e011a7;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.links {
  color: #e011a7;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer {
    font-size: 14px;
  }
}
