.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99vw;
  padding: 0 24px;
  background-image: url("/public/Banner_Makto_.png");
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 1;
}
.mainHead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.header {
  display: flex;
  flex-direction: column;
  width: 45%;
  border-width: 1px;
  border-color: white;
  border-radius: 20px;
  padding: 16px;
  z-index: 1;
}
.footerImg {
  width: 20%;
  height: 20%;
  border-radius: 8px;
}
.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
}
.nftImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.h1 {
  margin-bottom: 0px;
}

.explain {
  font-size: 1.125rem;
}

.lightPurple {
  color: #e011a7;
}
.footer {
  position: fixed;
  align-items: center;
  bottom: 0;
  left: 0;
  font-size: 20px;
  width: 50%;
  margin-bottom: 1%;
}
.nftCard {
  padding: 0 34px;
  padding-top: 20px;
  background-color: rgb(28, 26, 26);
  background: linear-gradient(
    90deg,
    #484444,
    #323131,
    #3b3939,
    #424141,
    #353333
  );
  background-size: 400% 400%;
  animation: metal-brush 8s ease-in-out infinite;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
  max-width: 300px;
}
.nftCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.nft {
  margin-top: 5%;
}
.outp {
  color: #ffffff;
  font-size: 1rem;
}
.texts {
  font-size: 1rem;
  margin: 0;
}
.btnClaim {
  margin-top: 5%;
  background-color: #0854ed;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 8px 16px;
  transition: background-color 0.2s ease-in-out;
}
.Links {
  color: #ffffff98;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  list-style: none;
  opacity: 1;
}

.Links:hover {
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .footer {
    font-size: 14px;
    width: 100%;
  }
  .navbar {
    position: absolute;
  }
}
