.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99vw;
  padding: 0 24px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 1;
}
.mainHead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  z-index: 1;
}
.header {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-width: 1px;
  border-color: white;
  border-radius: 20px;
  padding: 16px;
  z-index: 1;
}
.footerImg {
  width: 20%;
  height: 20%;
  border-radius: 8px;
}
.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
}
.nftImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.h1 {
  margin-bottom: 0px;
}

.explain {
  font-size: 1.125rem;
}

.lightPurple {
  color: #e011a7;
}
.footer {
  padding: 20px;
  text-align: center;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 0;
  font-size: 20px;
  width: 100%;
}
.nftCard {
  padding: 0 34px;
  padding-top: 20px;
  background-color: rgb(28, 26, 26);
  width: 100%;
  border-radius: 20px;
  min-height: 420px;
  justify-content: center;
  align-items: center;
}
.nft {
  margin-top: 5%;
}
.btnClaim {
  margin-top: 5%;
  background-color: #e011a7;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.Links {
  color: #186df798;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  list-style: none;
}

.Links:hover {
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .footer {
    font-size: 14px;
  }
}
